NEXT_PUBLIC_SITE_URL=https://charlo.mx
NEXT_PUBLIC_WA_NUMBER=+525500000000
NEXT_PUBLIC_WA_MESSAGE=Hola, quiero solicitar una demostración de Charlo para mi empresa.
NEXT_PUBLIC_CONTACT_EMAIL=hola@charlo.mx

RESEND_API_KEY=

NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
